.DS_Store
.idea/
Slapper/.DS_Store
Slapper/src/.DS_Store
Slapper/src/slapper/.DS_Store
Slapper/src/slapper/events/.DS_Store
Slapper/src/slapper/entities/.DS_Store
Slapper/src/slapper/entities/other/.DS_Store